<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

<!--[if lte IE 8]>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
<!--<![endif]-->

<style type="text/css">
  .container {
    max-width: 960px;
  }
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
  }
  html, button, input, select, textarea,
  .pure-g [class *= "pure-u"] {
      font-family: monospace;
      font-size: 20px;
  }
</style>


<div class="wrapper">
  <div class="container">
    <section class="pure-g">
      <div class="pure-u-1">
        <h3>1.0.0</h3>
        <ul>
          <li>this</li>
          <li>that</li>
        </ul>
      </div>
    </section>
  </div>
</div>

